/* Custom Portfolios */

#post-11 {
	background-color: #f5f5f6;
}


#post-12 {
	background-color: transparent;
}

#composer {
	background-color: #e5edf0;
	background-image: url(../images/composer/bg.png);
	background-attachment: fixed;
	background-size: cover;
}

#bubucheek {
	background-color:#000;
	background-image: url(../images/bubucheek/bg.png);
	background-attachment: fixed;
	color:#FFF;
}
	#bubucheek p a {color:#00B3FF;}
	#bubucheek p a:hover {color:#FFF;}

#ss {
background: #2989d8;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDIwNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #2989d8 0%, #002054 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#002054));
background: -webkit-linear-gradient(top,  #2989d8 0%,#002054 100%);
background: -o-linear-gradient(top,  #2989d8 0%,#002054 100%);
background: -ms-linear-gradient(top,  #2989d8 0%,#002054 100%);
background: linear-gradient(to bottom,  #2989d8 0%,#002054 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#002054',GradientType=0 );

color:#FFF;
}


/* Custom CSS */
a { text-decoration: none; }

h1.page-title { display: none; }

.zilla-media-center .more-link { top: -99px;}

@media only screen and (max-width: 768px) {
.zilla-media-center .more-link { top: 0 !important; }
.wide { margin-right: 0px !important; }
.custom-link { float: none  !important; margin-top: 10px  !important; }
.header-outer { padding-top: 40px !important; }
}

.zilla-one-third .entry-title,
.entry-content .entry-title {margin-bottom: 0.125em;
font-size: 48px;
padding: 0;
line-height: 1.15em;
letter-spacing: -0.0625em;}

.zilla-one-third .entry-title + .zilla-caption + p,
.entry-title + .zilla-caption + a + p
{ margin-top: 20px;}

.entry-content .entry-title .zilla-caption { margin-right: 160px; }

.image-credit { 
opacity: 0.4;
padding: 0 2%;
display: block;
margin: 2em 2em 4em; }

a,
.entry-title a:hover,
#logo a:hover,
.slide-caption a:hover,
.link-source a:hover,
.comment-author a:hover,
#commentform .required,
.widget ul a:hover { color: #333; }

.more-link:hover,
button:hover,
#submit:hover,
.gform_next_button:hover,
.gform_previous_button:hover,
.gform_button:hover,
more-link:hover,
.zilla-dark .more-link:hover,
.twitter-link:hover,
.flickr_badge_image a,
.zilla-dribbble-shots a { background: #00B3FF; }

.format-link .entry-title a:hover { border-bottom: 2px solid #00B3FF; }

/* MY NAME */
	
	.given {float:left;}
		.given b {font-size:120%;}
			.given:after {
		content: 'G.';
		font-size: 125%;
		margin-left: .25em;}
	
	.surname {display: none;float:left;}	

@media only screen and (min-width: 768px) {
	
	.given {float:left;}
		.given b {font-size:120%;}
	
	.surname {
	float: left;
	clear: left;
	margin-top: -.4em;
	margin-left: -10%;
	font-size: 110%;
	letter-spacing: -.1em;
	display: block;
	}
		.surname b {font-size:110%;display: inline;}
	
	.given:after {content:'';}

}

.videoWrapper {
position: relative;
margin-top: 0.2em;
margin-bottom: 2.5em;
padding-bottom: 56.25% !important;
padding-top: 25px !important;
height: 0;
}