/* Custom Portfolios */
#post-350 {
	background-color: #f4f4f4;
	background-size: cover;
}

#post-348 {
	background-color: #f4f4f4;
	background-size: cover;
}

#post-176 {
	background-color: #ffffff;
}

#post-78 {
	background-color: #ffffff;
}

#post-76 {
	background-color: transparent;
}

#post-69 {
	background-color: transparent;
}

#post-12 {
	background-color: #ffffff;
}

#post-11 {
	background-color: transparent;
}

#post-9 {
	background-color: #ffffff;
}

#post-51 {
	background-color: #ffffff;
	background-size: cover;
}

/* Custom CSS */
a { text-decoration: none; }

.header-outer { padding-top: 90px;}

h1.page-title { display: none; }

.zilla-media-center .more-link { top: -99px;}

@media only screen and (max-width: 768px) {
.zilla-media-center .more-link { top: 0 !important; }
.wide { margin-right: 0px !important; }
.custom-link { float: none  !important; margin-top: 10px  !important; }
.header-outer { padding-top: 40px !important; }
}

.zilla-one-third .entry-title,
.entry-content .entry-title {margin-bottom: 0.125em;
font-size: 48px;
padding: 0;
line-height: 1.15em;
letter-spacing: -0.0625em;}

.zilla-one-third .entry-title + .zilla-caption + p,
.entry-title + .zilla-caption + a + p
{ margin-top: 20px;}

.entry-content .entry-title .zilla-caption { margin-right: 160px; }

.zilla-media-right .entry-content, .zilla-media-left .entry-content  { padding-top: 0px;}

.page-id-43 #comments { display: none; }
.wide { margin-right: 200px; }
.custom-link { float: right; margin-top: -85px; }
.soundcloud { margin: 40px 0 100px 0; }
.white { background: #fff; }

.image-credit { opacity: 0.4;
padding: 0 2%;
display: block;
/*border-left: 5px solid #972622;*/
margin: 2em 2em 4em; }

#sidebar { opacity: 0.4; }
#sidebar:hover { opacity: 1; }

img#wpstats { display: none; }

a,
.entry-title a:hover,
#logo a:hover,
.slide-caption a:hover,
.link-source a:hover,
.comment-author a:hover,
#commentform .required,
.widget ul a:hover { color: #972622; }

.zilla-direction-nav a:hover,
.jp-play:hover,
.jp-pause:hover,
.jp-mute:hover,
.jp-unmute:hover,
.jp-play-bar,
.jp-volume-bar-value,
.jp-toggles a:hover { background-color: #972622; }

.more-link:hover,
button:hover,
#submit:hover,
.gform_next_button:hover,
.gform_previous_button:hover,
.gform_button:hover,
more-link:hover,
.zilla-dark .more-link:hover,
.twitter-link:hover,
.flickr_badge_image a,
.zilla-dribbble-shots a { background: #972622; }

.format-link .entry-title a:hover { border-bottom: 2px solid #972622; }

